@model AnimalRegistry.Models.Animal
@{
    string title = $"{Model.Class} по кличке {Model.Name}";
    ViewBag.Title = title;
}

<a href="/Animal/List">Назад</a>

<h3>@title</h3>

@using (Html.BeginForm("Edit", "Animal", FormMethod.Post))
{
    @Html.HiddenFor(a => a.Id)

<table>
    <tr>
        <td>@Html.LabelFor(a => a.Class, "Вид")</td>
        <td>@Html.TextBoxFor(a => a.Class)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(a => a.Gender, "Пол")</td>
        <td>@Html.TextBoxFor(a => a.Gender)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(a => a.Name, "Кличка")</td>
        <td>@Html.TextBoxFor(a => a.Name)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(a => a.Location, "Расположение")</td>
        <td>@Html.TextBoxFor(a => a.Location)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(a => a.Weight, "Масса (кг)")</td>
        <td>@Html.TextBoxFor(a => a.Weight)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(a => a.DateOfWeighing, "Дата взвешивания")</td>
        <td><input type="date" id="DateOfWeighing" value="@Model.DateOfWeighing"/></td>
    </tr>
</table>
}