@using  AnimalRegistry.Models
@model IEnumerable<Animal>
@{
    ViewBag.Title = "Животные";
}

<h1>@ViewBag.Title</h1>

<a href="/Animal/Create">Добавить</a>

<div class="data-list">
    <table>
        <tr>
            <th></th>
            <th>Вид</th>
            <th>Пол</th>
            <th>Кличка</th>
            <th>Расположение</th>
            <th>Масса</th>
            <th>Дата взвешивания</th>
            <th></th>
        </tr>
        @foreach (var animal in Model)
        {
            <tr>
                <td><a href="/Animal/Edit/@animal.Id">Изменить</a></td>
                <td>@animal.Class</td>
                <td>@animal.Gender</td>
                <td>@animal.Name</td>
                <td>@animal.Location</td>
                <td>@animal.Weight</td>
                <td>@animal.DateOfWeighing</td>
                <td><a href="/Animal/Delete/@animal.Id">Удалить</a></td>
            </tr>
        }
    </table>
</div>