<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <div class="container">
            <div class="header-top clearfix">
                <div class="header-logo">
                    <a href="~/Animal/Index">
                        <img src="@Url.Content("~/img/Logo.png")" alt="Учет животных">
                    </a>
                </div>
                <ul class="main-nav clearfix">
                    <li>@Html.ActionLink("Главная", "Index")</li>
                    <li>@Html.ActionLink("Животные", "List")</li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <footer>
        &copy; 2018 - AnimalRegisry
    </footer>
</body>
</html>
